<div class="row p-5">
    <div class="col">
        <section class="box">
            <img class ="imagen" src="assets/fotoCreador.png">
            <h1>Gaston Machaca</h1>
            <h2>Web Developer</h2>
            <p>Estudiante de UTN Regional Avellaneda</p>
        </section>
    </div>
    <div class="col">
        <section class="box">
            <h1>Juego : Fast-Eye</h1>
            <p>El jugador debera seguir al cuadrado y hacer click sobre el mismo. El juego consiste en cuanto clicks sobre el objetivo puede hacer en 5 segundos. La puntuacion de cada usuario se guardara en la base de datos.</p>
        </section>
    </div>
</div>